<!DOCTYPE html>
<html>

<head>
    <title>Movie Streaming</title>
</head>

<body>
    <h1 style="text-align:center"> Movie Streaming </h1>
    <div id="container" style="width:1250px" align="center">
        <br><img src="/static/kong.jpg" width="400" height="395" /></a>
        </br>
        <br>
        <a href="http://127.0.0.1:8000/movie/"><img src="/static/logan.jpg" width="350" height="523" /></br>
            <br><img src="/static/shell.jpg" width="332" height="500" /></br>
    </div>
</body>

</html>